<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MIDDO - Loading</title>
    <link rel="stylesheet" href="/assets/css/splash.css">
</head>

<body>

<div class="splash-container">

    <div class="globe"></div>

    <h1 class="middo-title">MIDDO</h1>

</div>

<script>
    setTimeout(() => {
        window.location.href = "/login";
    }, 1200);
</script>

</body>
</html>
