{% extends 'layout/layout.html.twig' %}
{% block page_title %}Ajouter un document{% endblock %}

{% block content %}
<div class="card">
    <h2>Uploader un document</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn primary">Uploader</button>
    {{ form_end(form) }}
</div>
{% endblock %}
