{% extends 'layout/app_layout.html.twig' %}
{% block title %}RGPD - MIDDO{% endblock %}
{% block page_content %}
<div class="container my-5">
    <h1>Politique RGPD</h1>
    <p>DPO : dpo@middo.fr</p>
    <a href="{{ path('rgpd_export') }}" class="btn btn-primary">Exporter mes donnees</a>
</div>
{% endblock %}