{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block page_subtitle %}
    Bienvenue sur votre espace MIDDO
{% endblock %}

{% block page_actions %}
    {# Actions spécifiques à la page d'accueil (optionnel) #}
{% endblock %}

{% block page_content %}
    <p>Chargement de votre espace...</p>
{% endblock %}
