{% extends 'base.html.twig' %}

{% block title %}Accueil - MIDDO{% endblock %}

{% block body %}
    <h1>Bienvenue sur MIDDO</h1><p style='color:white'>Chargement de votre espace...</p>
{% endblock %}
