{% extends 'layout/app_layout.html.twig' %}

{% block title %}Accueil - MIDDO{% endblock %}

{% block page_content %}
    <h1>Bienvenue sur MIDDO</h1><p style='color:white'>Chargement de votre espace...</p>
{% endblock %}
