security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_profiler|wdt|css|images|js)/
      security: false

    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider

      # LOGIN PUBLIC -> renvoie un JWT (Lexik)
      json_login:
        check_path: /api/auth/login
        username_path: email
        password_path: password

      # JWT sur le reste des routes protégées
      jwt: ~

    main:
      lazy: true
      provider: app_user_provider

  access_control:
    - { path: ^/api/register$, roles: PUBLIC_ACCESS }
    - { path: ^/api/auth/login$, roles: PUBLIC_ACCESS }
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

