security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(\_profiler|wdt|css|images|js)/
      security: false

    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider

      json_login:
        check_path: /api/login_check
        username_path: email
        password_path: password

      jwt: ~

  access_control:
    - { path: ^/api/register$, roles: PUBLIC_ACCESS }
    - { path: ^/api/login_check$, roles: PUBLIC_ACCESS }
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
