{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Analytics{% endblock %}
{% block page_subtitle %}Suivez vos indicateurs clés.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Analytics  base fonctionnelle.</p>
{% endblock %}
