{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Annuaire des membres{% endblock %}
{% block page_subtitle %}Trouvez rapidement les bons profils pour vos projets MIDDO.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Annuaire des membres  base fonctionnelle.</p>
{% endblock %}
