{% extends 'base/layout.html.twig' %}

{% set page_title = 'Notification' %}

{% block page_content %}

    {% include 'components/card.html.twig' with {
        title: notif.title,
        content: '
            Détail complet de la notification.
        '
    } %}

    {% include 'components/table.html.twig' with {
        headers: ['Champ', 'Valeur'],
        rows: [
            ['Titre', notif.title],
            ['Message', notif.message],
            ['Type', notif.type|capitalize],
            ['Date', notif.created_at|date('d/m/Y H:i')]
        ]
    } %}

    <a class="btn-secondary" href="/notification">Retour</a>

{% endblock %}
