{% extends 'base.html.twig' %}

{% block title %}Matching IA - MIDDO{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Matching IA</h1>
    <p>Interface matching en construction</p>
</div>
{% endblock %}
