{% extends 'layout/app_layout.html.twig' %}

{% block title %}Matching IA - MIDDO{% endblock %}

{% block page_content %}
<div class="container mt-5">
    <h1>Matching IA</h1>
    <p>Interface matching en construction</p>
</div>
{% endblock %}
