{% extends 'base/layout.html.twig' %}

{% set page_title = 'Informations système' %}

{% block page_content %}

    {% include 'components/card.html.twig' with {
        title: 'Informations système',
        content: '
            Voici les informations techniques de MIDDO OS et de l&apos;environnement serveur.  
            Ces données sont utiles pour le diagnostic, la maintenance et les mises à jour.
        '
    } %}

    <h2 style="margin-bottom:15px;">Détails du système</h2>

    {% include 'components/table.html.twig' with {
        headers: ['Paramètre', 'Valeur'],
        rows: [
            ['Version MIDDO OS', system.middo_version],
            ['Environnement', system.environment],
            ['Version PHP', system.php_version],
            ['Serveur', system.server],
            ['Système d\'exploitation', system.os],
            ['Mémoire utilisée', system.memory_used ~ ' / ' ~ system.memory_total],
            ['Uptime', system.uptime],
            ['Extensions PHP', system.extensions|join(', ')]
        ]
    } %}

    <h2 style="margin-top:40px; margin-bottom:15px;">Variables d&apos;environnement</h2>

    {% set env_rows = [] %}
    {% for key, value in system.env %}
        {% set env_rows = env_rows|merge([[ key, value ]]) %}
    {% endfor %}

    {% include 'components/table.html.twig' with {
        headers: ['Clé', 'Valeur'],
        rows: env_rows
    } %}

{% endblock %}
