{% extends "layout/layout.html.twig" %}

{% block content %}

<div id="desktop">

    {# BARRE DE RECHERCHE GLOBALE MIDDO #}
    {% include "os/search_bar.html.twig" %}

    {# ICONES DU BUREAU #}
    <div class="os-icons">
        <div class="os-icon" data-app="Documents" data-route="/documents">
            <div class="icon">📁</div>
            <div class="label">Documents</div>
        </div>

        <div class="os-icon" data-app="Notifications" data-route="/notifications">
            <div class="icon">🔔</div>
            <div class="label">Notifications</div>
        </div>
    </div>

    {# CONTENEUR DES FENÊTRES #}
    <div id="windows-container"></div>

    {# TASKBAR #}
    <div id="taskbar"></div>

</div>

{% endblock %}
