<div id="middo-search-bar">
    <div class="middo-search-input-wrapper">
        <span>🔍</span>
        <input id="middo-search-input" type="text" placeholder="Rechercher ou poser une question…" autocomplete="off">
    </div>
    <div class="middo-search-hint">Appuie sur Entrée pour interroger MIDDO</div>
    <div id="middo-search-results"></div>
</div>
