{% extends 'base.html.twig' %}

{% block title %}Banque - MIDDO{% endblock %}

{% block body %}
    <h1> Portefeuille</h1><div class='card'><h2>Solde</h2><p class='balance' style='font-size:48px;color:#667eea'>2 450,00 €</p></div>
{% endblock %}
