{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Paramètres{% endblock %}
{% block page_subtitle %}Personnalisez votre expérience MIDDO.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Paramètres  base fonctionnelle.</p>
{% endblock %}
