parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            # Clés API IA
            $claudeApiKey: '%env(CLAUDE_API_KEY)%'
            $openaiApiKey: '%env(OPENAI_API_KEY)%'
            $anthropicApiKey: '%env(ANTHROPIC_API_KEY)%'
            
            # Chemins système
            $projectPath: '%kernel.project_dir%'
            $profilesDirectory: '%kernel.project_dir%/public/uploads/profiles'
            
            # Mercure (WebSocket)
            $mercureHubUrl: '%env(MERCURE_URL)%'
            $mercureJwtSecret: '%env(MERCURE_JWT_SECRET)%'
            
            # Alias pour compatibilité legacy
            $apiKey: '%env(OPENAI_API_KEY)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'

    ########################################################################
    # AUTORESOLVE SERVICES (DetectorService, HealthCheckService, LogAnalyzer)
    ########################################################################

    App\Service\AutoResolve\LogAnalyzer:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\AutoResolve\HealthCheckService:
        arguments:
            $connection: '@doctrine.dbal.default_connection'
            $httpClient: '@http_client'

    App\Service\AutoResolve\DetectorService:
        arguments:
            $logAnalyzer: '@App\Service\AutoResolve\LogAnalyzer'
            $healthCheckService: '@App\Service\AutoResolve\HealthCheckService'
