{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur ton tableau de bord MIDDO</h1>
<p>Tu es bien arrivé après l’animation ✨</p>

<ul>
    <li>Projets actifs : {{ stats.active_projects }}</li>
    <li>Tâches en attente : {{ stats.pending_tasks }}</li>
    <li>Messages non lus : {{ stats.unread_messages }}</li>
</ul>
{% endblock %}
