{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Visio & Sessions en direct{% endblock %}
{% block page_subtitle %}Organisez vos rencontres synchrones.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Visio & Sessions en direct  base fonctionnelle.</p>
{% endblock %}
