{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Espace de travail{% endblock %}
{% block page_subtitle %}Votre hub central pour orchestrer les sessions et tâches.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Espace de travail  base fonctionnelle.</p>
{% endblock %}
