{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Messages{% endblock %}
{% block page_subtitle %}Centralisez vos échanges avec léquipe.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Messages  base fonctionnelle.</p>
{% endblock %}
