{% extends 'base_app.html.twig' %}

{% block title %}Calendrier - MIDDO{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Calendrier</h1>
    <p class="breadcrumb">Accueil > Calendrier</p>
</div>

<div class="calendar-layout">

    <aside class="calendar-sidebar">
        <button class="btn">Nouvel événement</button>
        <button class="btn-outline">Synchroniser Google</button>
        <button class="btn-outline">Synchroniser Outlook</button>

        <h3>Filtres</h3>
        <ul>
            <li>Réunions</li>
            <li>Projets</li>
            <li>Tâches</li>
            <li>Rappels</li>
        </ul>
    </aside>

    <section class="calendar-view">
        <iframe src="https://calendar.google.com/calendar/embed?mode=MONTH" class="calendar-iframe"></iframe>
    </section>

</div>

{% endblock %}
