{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Banque & Paiements{% endblock %}
{% block page_subtitle %}Suivez vos flux financiers liés aux projets MIDDO.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Banque & Paiements  base fonctionnelle.</p>
{% endblock %}
