{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - MIDDO{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Tableau de bord</h1>
    <p>Dashboard en construction</p>
</div>
{% endblock %}
