{% extends 'base.html.twig' %}

{% block title %}Projets - MIDDO{% endblock %}

{% block page_title %}Projets{% endblock %}

{% block body %}
<div class="projects-grid">
                <div class="project-card">
                    <div class="project-header">
                        <div>
                            <div class="project-title">Dashboard MIDDO</div>
                            <div class="project-status status-active">En cours
{% endblock %}
