<div class="widget widget-clock">

    <h3 class="widget-title">Horloge mondiale</h3>

    <ul class="clock-list">

        <li class="clock-item">
            <strong>Paris</strong>
            <span data-clock="Europe/Paris"></span>
        </li>

        <li class="clock-item">
            <strong>Tokyo</strong>
            <span data-clock="Asia/Tokyo"></span>
        </li>

        <li class="clock-item">
            <strong>Séoul</strong>
            <span data-clock="Asia/Seoul"></span>
        </li>

        <li class="clock-item">
            <strong>Shanghai</strong>
            <span data-clock="Asia/Shanghai"></span>
        </li>

    </ul>

</div>
