{% extends 'layout/layout.html.twig' %}
{% block page_title %}Page introuvable{% endblock %}

{% block content %}
<div class="card">
    <h2>❓ Page introuvable</h2>
    <p>La ressource demandée n’existe pas.</p>
</div>
{% endblock %}
