{% extends 'layout/app_layout.html.twig' %}

{% block title %}Transactions - MIDDO{% endblock %}

{% block page_title %}Transactions{% endblock %}

{% block page_content %}
<div class="transaction-item">
                <div class="transaction-left">
                    <div class="transaction-icon in">
                        <i class="fas fa-arrow-down"></i>
                    </div>
                    <div class="transaction-info">
                        <h3>Paiement reçu - Dashboard MIDDO</h3>
                        <p>Projet  De: Client XYZ</p>
{% endblock %}
