{% extends 'base.html.twig' %}

{% block body %}
<h1>Groupes d’Achat</h1>

<p>Les demandes similaires sont automatiquement regroupées ici.</p>

<p>(Les données seront ajoutées après création des entités.)</p>

<a href="{{ path('purchase_center_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
