{% extends 'base.html.twig' %}

{% block body %}
<h1>Demandes d’Achat</h1>

<p>Liste des demandes d’achat créées par les utilisateurs.</p>

<p>(Les données seront ajoutées après création des entités.)</p>

<a href="{{ path('purchase_center_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
