{% extends 'base.html.twig' %}

{% block body %}
<h1>Offres Fournisseurs</h1>

<p>Les fournisseurs peuvent proposer des prix pour les groupes d’achat.</p>

<p>(Les données seront ajoutées après création des entités.)</p>

<a href="{{ path('purchase_center_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
