{% extends 'base.html.twig' %}

{% block body %}
<div class="layout-root">

    {# --- Sidebar MIDDO --- #}
    {% include 'layout/_sidebar.html.twig' %}

    <main class="layout-main">

        <header class="page-header">
            <div class="page-header-titles">
                <h1 class="page-title">
                    {% block page_title %}Titre de la page{% endblock %}
                </h1>
                <p class="page-subtitle">
                    {% block page_subtitle %}Description courte de la page{% endblock %}
                </p>
            </div>

            <div class="page-actions">
                {% block page_actions %}{% endblock %}
            </div>
        </header>

        <section class="page-content">
            {% block page_content %}{% endblock %}
        </section>

    </main>

</div>
{% endblock %}
