{% extends 'layout/app_layout.html.twig' %}

{% block page_title %}Projets{% endblock %}
{% block page_subtitle %}Pilotez vos projets et vos équipes.{% endblock %}

{% block page_content %}
<p class="text-muted">Page Projets  base fonctionnelle.</p>
{% endblock %}
